@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../fonts/Montserrat-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Medium.woff2') format('woff2'),
    url('../fonts/Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
    url('../fonts/Montserrat-SemiBold.woff') format('woff');
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.woff2') format('woff2'),
    url('../fonts/Montserrat-Bold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'),
    url('../fonts/Montserrat-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-display: swap;
}
* {
  box-sizing: border-box;
}
.display--none {
  display: none;
}
html {
  margin: 0;
  padding: 0;
}
body {
  font: 400 14px/1.45 'Montserrat', sans-serif;
  background-color: #fafafa;
}
.home {
  background: #fafafa url('../img/main-bg.jpg') no-repeat top;
  background-size: cover;
}
.second--title {
  color: #252b42;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.45;
  letter-spacing: 0.2px;
}
.container {
  width: 1046px;
  margin: 0 auto;
}
.header {
  padding: 36px 0;
}
.header__inner {
  display: flex;
  align-items: center;
}
.header__logo {
  margin-right: 117px;
  padding-top: 5px;
}
.nav__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
.nav__item {
  margin-right: 21px;
  font-weight: 600;
  line-height: 2;
  letter-spacing: 0.2px;
  list-style-type: none;
}
.nav__item:last-child {
  margin-right: 0;
}
.nav__link {
  color: #737373;
  text-decoration: none;
}
.header__search {
  display: none;
}
.header__basket {
  display: none;
}
.header__togler {
  position: absolute;
  right: 55px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.empower {
  margin-bottom: 131px;
  padding-top: 80px;
}
.empower__content {
  max-width: 510px;
  margin: 0px 0px 80px 0px;
  letter-spacing: 0.2px;
}
.empower__title {
  margin: 0 0 35px 0;
  color: #252b42;
  font-weight: 800;
  font-size: 58px;
  line-height: 1.38;
}
.empower__text {
  padding: 0 133px 0 0;
  margin-top: 0;
  margin-bottom: 35px;
  color: #737373;
  font-weight: 500;
  font-size: 20px;
}
.empower__text--mobile {
  display: none;
}
.getquote__btn {
  display: inline-block;
  padding: 10px 36px;
  background-color: #ffa62b;
  color: #fff;
  font-weight: 700;
  line-height: 2;
  border-radius: 37px;
  text-decoration: none;
}
.more__btn {
  display: inline-block;
  margin-left: 8px;
  padding: 10px 36px;
  border: 1px solid #00a0c1;
  border-radius: 37px;
  font-weight: 700;
  line-height: 2;
  color: #00a0c1;
  text-decoration: none;
}

.empower__cards {
  display: flex;
  margin-right: -30px;
}
.empower__card {
  width: calc(33.33% - 30px);
  margin: 0px 30px -19px 0px;
  padding: 35px 20px 35px 40px;
  background-color: #fff;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}
.empower__card--choosen {
  background-color: #00a0c1;
}
.empower__card--choosen .empower__card-title {
  color: #fff;
}
.empower__card--choosen .empower__card-text {
  color: #fff;
}
.empower__card-img {
  margin: 0px 0px 6px 0px;
}
.empower__card-title {
  margin: 0px 0px 8px 0px;
  color: #252b42;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.35;
  letter-spacing: 0.1px;
}
.empower__card-title--mobile {
  display: none;
}
.empower__card-text {
  margin: 0;
  color: #737373;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.2px;
}
.choose {
  padding: 80px 0px;
  background-color: #fafafa;
}
.choose__content {
  max-width: 511px;
  margin: 0 auto 50px;
  text-align: center;
}
.choose__title {
  margin: 0px 0px 10px 0px;
}
.choose__title--second {
  color: #252b42;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.45;
  letter-spacing: 0.2px;
}
.choose__text {
  margin: 0;
  color: #737373;
  font-weight: 500;
  letter-spacing: 0.2px;
  text-align: center;
}
.choose__cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(238px, 1fr));
  column-gap: 30px;
}
.choose__card {
  padding: 30px 32px;
  background-color: #fff;
  text-align: center;
}
.choose__card-img {
  margin: 0px 0px 10px 0px;
}
.choose__card-title {
  color: #252b42;
  margin: 0px 0px 10px 0px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.45;
  letter-spacing: 0.2px;
}
.choose__card-description {
  color: #737373;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.1px;
}
.advice {
  padding: 125px 0px 80px 0px;
  background-color: #fafafa;
}
.advice__content {
  max-width: 470px;
  margin: 0px auto 45px;
  text-align: center;
}
.advice__title {
  margin: 0px 0px 10px 0px;
}
.advice__title--second {
  color: #252b42;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.45;
  letter-spacing: 0.2px;
}
.advice__text {
  margin: 0;
  color: #737373;
  font-weight: 500;
  letter-spacing: 0.2px;
}
.advice__cards {
  display: flex;
  align-items: flex-start;
}
.advice__card {
  display: flex;
  flex-direction: column;
  width: calc(25% - 30px);
  margin-right: 38px;
  background-color: #fff;
}
.advice__card:last-child {
  margin-right: 0;
}

.advice__card-content {
  padding: 30px 25px 30px 30px;
}
.advice__card-title {
  margin: 0px 0px 15px 0px;
  color: #252b42;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.1px;
}
.advice__card-text {
  margin: 0;
  color: #737373;
  font-weight: 500;
  line-height: 1.45;
  letter-spacing: 0.2px;
}
.advice__card-text--mobile {
  display: none;
}
.advice__card-img {
  margin-top: auto;
}
.service {
  padding: 100px 0px;
  background-color: #fff;
}
.service__header {
  max-width: 511px;
  margin: 0 auto 100px;
  text-align: center;
}
.service__title {
  margin: 0px 0px 15px 0px;
}
.service__title--mobile {
  display: none;
}
.service__title--second {
  color: #252b42;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.45;
  letter-spacing: 0.2px;
}
.setvice__text {
  margin: 0px;
  color: #737373;
  font-weight: 500;
  line-height: 1.45;
  letter-spacing: 0.2px;
}
.service__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.service__content-video {
  width: 600px;
  height: 442px;
}
.service__video {
  position: relative;
}
.service__poster {
  position: absolute;
  width: 100%;
}
.service__button-play {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
  margin: auto;
  padding: 35px 37px;
  background-color: #00a0c1;
  border: none;
  border-radius: 73.6px;
  cursor: pointer;
}
.service__content-box {
  max-width: 334px;
  padding-top: 21px;
  padding-left: 10px;
}
.service__content-title {
  margin: 0px 0px 10px 0px;
}
.service__content-text {
  margin: 0px 0px 50px 0px;
  color: #737373;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.2px;
}
.service__item {
  display: flex;
  align-items: start;
  margin: 0px 0px 30px 0px;
}
.service__item:last-child {
  margin-bottom: 0;
}
.service__content-img {
  margin: 0px 20px 0px 0px;
}
.service__item-title {
  margin: 0px 0px 5px 0px;
  color: #252b42;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.1px;
}
.service__item-text {
  margin: 0;
  color: #737373;
  font-weight: 600;
  line-height: 1.7;
  letter-spacing: 0.2px;
}
.clients {
  padding: 41px 0px 140px 0px;
  background-color: #fafafa;
}
.clients__brands {
  display: flex;
  align-items: center;
}
.clients__brands-img {
  margin: 0px 70px 0px 0px;
}
.clients__brands--mobile {
  display: none;
}
.newsletter {
  background-color: #252b42;
  padding: 57px 0px 20px 0px;
}
.newsletter__wrapper {
  padding: 0 32px;
}
.newsletter__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -124px;
  padding: 30px 40px 30px 50px;
  border-radius: 2px;
  background-color: #16697a;
}
.newsletter__title {
  max-width: 266px;
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.35;
  letter-spacing: 0.1px;
  color: #ffffff;
}
.newsletter__form {
  position: relative;
}
.newsletter__input {
  margin: 0;
  padding: 15px 235px 15px 20px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  line-height: 2;
  letter-spacing: 0.2px;
  color: #737373;
}
.newsletter__btn {
  position: absolute;
  right: -5px;
  max-width: 450px;
  padding: 15px 23px;
  margin: 0;
  border: 1px solid #e6e6e6;
  border-radius: 0px 5px 5px 0px;
  line-height: 2;
  letter-spacing: 0.2px;
  color: #ffffff;
  background-color: #ffa62b;
  cursor: pointer;
}
.touch {
  padding: 80px 0px 148px 0px;
  background-color: #f3f3f3;
}
.touch__header {
  max-width: 470px;
  margin: 0 auto 80px;
  text-align: center;
}
.touch__title {
  margin: 0px 0px 10px 0px;
}
.touch__title--second {
  color: #252b42;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.45;
  letter-spacing: 0.2px;
}
.touch__text {
  margin: 0;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.2px;
  color: #737373;
}
.touch__cards {
  display: flex;
  align-items: center;
  justify-content: center;
}
.touch__card {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px 54px;
  /*  padding: 50px 53px 60px 54px; */
  background-color: #fff;
}
.touch__card--center {
  padding: 80px 55px;
  background-color: #252b42;
  color: #fff;
}
.touch__card--center .touch__card-email {
  color: #fff;
  text-decoration: none;
}
.touch__card--center .touch__card-title {
  color: #fff;
}
.touch__card--center .touch__card-btn {
  color: #fff;
  border: 1px solid #fff;
}
.touch__card-img {
  margin: 0px 0px 15px 0px;
}
.touch__card-email {
  color: #252b42;
  font-weight: 600;
  line-height: 1.7;
  letter-spacing: 0.2px;
  text-decoration: none;
}
.touch__card-title {
  margin: 15px 0px;
  color: #252b42;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.1px;
}
.touch__card-btn {
  margin: 0;
  padding: 10px 20px;
  color: #ffa62b;
  font-weight: 600;
  line-height: 1.7;
  letter-spacing: 0.2px;
  border: 1px solid #ffa62b;
  border-radius: 5px;
  text-decoration: none;
}
.consulting {
  padding: 38px 0;
  background-color: #fff;
}
.consulting__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 13px;
}
.consulting__title {
  margin: 0 0 10px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.35;
  letter-spacing: 0.1px;
  color: #252b42;
}
.consulting__text {
  margin: 0;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.2px;
  color: #737373;
}
.consulting__submit {
  padding: 15px 40px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.2px;
  border-radius: 5px;
  background-color: #ffa62b;
  color: #ffffff;
  text-decoration: none;
}
.footer {
  padding-top: 50px;
  background-color: #16697a;
}
.footer__content {
  display: flex;
  align-items: flex-start;
  margin-bottom: 51px;
}
.footer__links {
  /* display: flex;
  margin-right: 70px; */
  display: grid;
  grid-template-columns: repeat(4, 152px);
  margin-right: 30px;
  column-gap: 27px;
}
.footer__column {
  max-width: 152px;
  margin-right: 58px;
}

.footer__links .footer__column:last-child {
  margin-right: 0;
}
.footer__column-header {
  margin: 0 0 20px 0;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.1px;
}
.footer__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.footer__item {
  margin-bottom: 10px;
}
.footer__item:last-child {
  margin-bottom: 0;
}
.footer__link {
  display: flex;
  align-items: flex-start;
  color: #ffffff;
  font-weight: 600;
  line-height: 1.75;
  letter-spacing: 0.2px;
  text-decoration: none;
}
.footer__content-img {
  margin: 0 10px 0 0;
}
.copyright {
  padding: 25px 0;
  background-color: #fff;
}
.copyright__content {
  display: flex;
  justify-content: space-between;
}
.copyright__title {
  margin: 0;
  color: #737373;
  font-weight: 600;
  line-height: 1.75;
  letter-spacing: 0.2px;
}
.copyright__social {
  display: flex;
  align-items: center;
  padding-right: 38px;
}
.copyright__social-link {
  margin-right: 20px;
}
.copyright__social-link:last-child {
  margin-right: 0;
}
@media (max-width: 1280px) {
  .container {
    width: 900px;
    margin: 0 auto;
  }
  .empower__card {
    margin: 0px 15px -19px 0px;
    padding: 15px 30px;
  }
  /* .header__togler {
    position: static;
  } */
  .home {
    background-size: contain;
  }
  .service__content-video {
    width: 333px;
    height: 440px;
  }
  .service__poster {
    width: 333px;
    height: 440px;
  }
  .clients__brands {
    flex-wrap: wrap;
    justify-content: center;
  }
  .clients__brands-img {
    margin: 0 30px 0 0;
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 730px;
  }
  .home {
    background: none;
  }
  .choose__card {
    margin-bottom: 20px;
  }
  .advice__cards {
    flex-wrap: wrap;
    justify-content: center;
  }
  .advice__card {
    width: 40%;
    margin: 0px 30px 30px 0px;
  }
  .service__content {
    display: flex;
    flex-direction: column;
  }
  .service__video {
    margin-right: 25px;
    margin-bottom: 30px;
  }
  .touch__cards {
    flex-direction: column;
    align-items: center;
  }
  .touch__card {
    margin: 0 0 30px 0;
    padding: 50px 55px;
  }
  .clients__brands-img {
    margin: 20px 100px 0 0;
  }
  .consulting__content {
    flex-direction: column;
    align-items: start;
  }
  .consulting__header {
    margin: 0 0 47px;
  }
  .footer__links {
    grid-template-columns: repeat(auto-fill, 152px);
  }
  .footer__column {
    margin: 0 52px 25px 0;
  }
}
@media (max-width: 805px) {
  .container {
    max-width: 560px;
  }
  .empower {
    margin-bottom: 0;
    padding-bottom: 169px;
  }
  .empower__cards {
    flex-wrap: wrap;
    margin-right: 0;
  }
  .empower__card {
    width: 97%;
    padding: 35px 46px 35px 40px;
    margin-bottom: 30px;
    margin-right: 0;
  }
  .empower__card-title--none {
    display: none;
  }
  .empower__card-title--mobile {
    display: block;
    margin: 0px 0px 8px 0px;
    color: #252b42;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.35;
    letter-spacing: 0.1px;
  }
  .choose {
    padding-top: 101px;
  }
  .newsletter {
    background-color: #16697a;
    padding: 0;
  }
  .newsletter__content {
    flex-direction: column;
    margin: 0;
  }
  .newsletter__title {
    margin: 0 0 30px 0;
  }
  .footer__content {
    flex-direction: column;
    align-items: start;
  }
  .footer__column {
    margin: 0 0 0 0;
  }
  .copyright__content {
    flex-direction: column;
    align-items: start;
  }
  .copyright__title {
    margin-bottom: 50px;
  }
}
@media (max-width: 640px) {
  .container {
    max-width: 60%;
  }
  .logo {
    margin-right: 30px;
  }
  .header__inner {
    flex-direction: column;
  }
  .header__togler {
    position: static;
  }
  .empower__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 333px;
  }
  .empower__title {
    font-size: 40px;
    line-height: 1.5;
  }
  .getquote__btn {
    margin-bottom: 25px;
  }
  .choose__card {
    width: 230px;
    justify-self: center;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .advice__cards {
    flex-direction: column;
    align-items: center;
  }
  .advice__card {
    width: 66%;
    margin-right: 0;
  }
  .advice__card-text--none {
    display: none;
  }
  .advice__card-text--mobile {
    display: block;
    color: #737373;
    font-weight: 500;
    line-height: 1.45;
    letter-spacing: 0.2px;
  }
  .newsletter__input {
    max-width: 320px;
    padding: 15px 122px 15px 20px;
  }
}
@media (max-width: 420px) {
  .home {
    background: url('../img/main-mobile-bg.jpg');
  }
  .container {
    max-width: 341px;
  }
  .header {
    padding-bottom: 205px;
  }
  .header__inner {
    margin-bottom: 261px;
    flex-direction: unset;
  }
  .is-open {
    display: none;
  }
  .header--mobile {
    padding-bottom: 0;
  }
  .logo {
    margin: 0;
  }
  .header__logo {
    margin-right: 100px;
  }
  .nav {
    position: absolute;
    flex-direction: unset;
  }
  .nav__list {
    position: relative;
    left: 108px;
    top: 260px;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
  }
  .nav__item {
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 1.5;
  }
  .nav__link {
    font-weight: 400;
  }
  .header__search {
    display: block;
    margin-right: 12px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  .header__basket {
    margin-right: 20px;
    display: block;
    border: none;
    background: transparent;
    cursor: pointer;
  }
  .main {
    background: url(../img/main-mobile-bg.jpg) no-repeat top;
    background-size: cover;
  }
  .empower__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.45;
    text-align: center;
  }
  .empower__text {
    display: none;
  }
  .empower__text--mobile {
    display: block;
    margin-top: 0;
    margin-bottom: 40px;
    color: #737373;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
  }
  .empower__title {
    margin-bottom: 40px;
  }
  .choose {
    padding-bottom: 70px;
  }
  .choose__content {
    margin-bottom: 94px;
  }
  .choose__card {
    padding: 35px 21px;
  }
  .advice {
    padding-top: 91px;
  }
  .advice__content {
    max-width: 225px;
    margin-bottom: 75px;
  }
  .service {
    padding-top: 95px;
  }
  .service__header {
    max-width: 324px;
    margin: 0 auto 118px;
  }
  .service__title {
    display: none;
  }
  .service__title--mobile {
    display: block;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .service__content-box {
    padding-top: 37px;
    padding-left: 0;
  }
  .clients {
    padding-top: 61px;
    padding-bottom: 0;
  }
  .clients__brands {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .clients__brands-img {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 60px;
  }
  .clients__brands--none {
    display: none;
  }
  .clients__brands--mobile {
    display: flex;
    padding: 21px 0;
  }
  .touch {
    padding-top: 73px;
    padding-bottom: 104px;
  }
  .touch__header {
    max-width: 310px;
    margin-bottom: 75px;
  }
  .touch__card--center {
    padding: 80px 54px;
  }
  .newsletter__content {
    padding: 34px 10px 30px 8px;
    text-align: center;
  }
  .consulting {
    padding-top: 0;
    padding-bottom: 0;
  }
  .consulting__content {
    padding: 40px 50px;
  }
  .footer__content {
    margin-bottom: 55px;
    padding-left: 44px;
    padding-top: 8px;
  }

  .footer__column {
    margin-bottom: 30px;
  }
  .copyright {
    padding: 25px 0 55px 0;
  }
  .copyright__content {
    padding-left: 52px;
    padding-top: 5px;
  }
  .copyright__title {
    margin-bottom: 50px;
  }
}
