@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../fonts/Montserrat-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Medium.woff2') format('woff2'),
    url('../fonts/Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
    url('../fonts/Montserrat-SemiBold.woff') format('woff');
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.woff2') format('woff2'),
    url('../fonts/Montserrat-Bold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
}
* {
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
}
body {
  font: 400 14px/1.45 'Montserrat', sans-serif;
}
.home {
  background: #fafafa url('../img/main-bg.jpg') no-repeat top;
  background-size: cover;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.header {
  padding: 40px 0;
}
.header__iner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  margin-right: 117px;
}
.nav__box {
  display: flex;
  align-items: center;
}
.nav__list {
  display: flex;
  align-items: center;
  padding: 0;
}
.nav__item {
  font-weight: 600;
  line-height: 2;
  letter-spacing: 0.2px;
  list-style-type: none;
}
.nav__link {
  margin-right: 21px;
  color: #737373;
  text-decoration: none;
}
.header__search {
  display: none;
}
.header__basket {
  display: none;
}
.header__togler {
  border: none;
  background: transparent;
  cursor: pointer;
}
.main {
  padding: 80px 0 0 0;
}
.main__content {
  max-width: 510px;
  margin: 0px 0px 80px 0px;
}
.main__title {
  margin: 0 0 35px 0;
  color: #252b42;
  font-weight: 800;
  font-size: 58px;
  line-height: 1.38;
  letter-spacing: 0.2px;
}
.main__text {
  padding: 0 133px 0 0;
  margin: 0 0 35px 0;
  color: #737373;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.2px;
}
.main__getquote {
  padding: 10px 36px;
  background: #ffa62b;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 2;
  border-radius: 37px;
  letter-spacing: 0.2px;
  text-decoration: none;
}
.main__more {
  margin-left: 10px;
  padding: 10px 36px;
  border: 1px solid #00a0c1;
  border-radius: 37px;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #00a0c1;
  text-decoration: none;
}

.main__cards {
  display: flex;
}
.main__card {
  margin: 0px 30px -19px 0px;
  padding: 35px 40px;
  background: #fff;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}
.main__card:last-child {
  margin: 0 0 -19px 0;
  background: #00a0c1;
}
.main__card:last-child .main__card-title {
  color: #fff;
}
.main__card:last-child .main__card-text {
  color: #fff;
}
.main__card-img {
  margin: 0px 0px 10px 0px;
}
.main__card-title {
  margin: 0px 0px 10px 0px;
  color: #252b42;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.35;
  letter-spacing: 0.1px;
}
.main__card-text {
  margin: 0;
  color: #737373;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.2px;
}
.choose {
  padding: 211px 0px 80px 0px;
  background: #fafafa;
}
.choose__content {
  text-align: center;
}
.choose__title {
  margin: 0px 0px 10px 0px;
  color: #252b42;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.45;
  letter-spacing: 0.2px;
}
.choose__text {
  max-width: 511px;
  margin: 0 auto 80px;
  color: #737373;
  font-weight: 500;
  letter-spacing: 0.2px;
  text-align: center;
}
.choose__cards {
  display: flex;
}
.choose__card {
  margin: 0px 30px 0px 0px;
  padding: 40px 66px 30px;
  background: #fff;
  text-align: center;
}
.choose__card-img {
  margin: 0px 0px 10px 0px;
}
.choose__card-title {
  color: #252b42;
  margin: 0px 0px 10px 0px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.45;
  letter-spacing: 0.2px;
}
.choose__card-description {
  color: #737373;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.1px;
}
.advice {
  padding: 125px 0px 80px 0px;
  background: #fafafa;
}
.advice__content {
  text-align: center;
}
.advice__title {
  margin: 0px 0px 10px 0px;
  color: #252b42;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.45;
  letter-spacing: 0.2px;
}
.advice__text {
  max-width: 470px;
  margin: 0px auto 45px;
  color: #737373;
  font-weight: 500;
  letter-spacing: 0.2px;
}
.advice__cards {
  display: flex;
  align-items: center;
}
.advice__card {
  margin: 0px 30px 0px 0px;
  background: #fff;
}

.advice__card-content {
  padding: 30px 42px 30px 30px;
}
.advice__card-title {
  margin: 0px 0px 15px 0px;
  color: #252b42;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.1px;
}
.advice__card-text {
  margin: 0px 0px 30px 0px;
  color: #737373;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.45;
  letter-spacing: 0.2px;
}
.advice__card-img {
  width: 100%;
}
.service {
  padding: 100px 0px;
}
.service__header {
  max-width: 511px;
  margin: 0 auto;
  text-align: center;
}
.service__title {
  margin: 0px 0px 15px 0px;
  color: #252b42;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.45;
  letter-spacing: 0.2px;
}
.setvice__text {
  margin: 0px 0px 100px 0px;
  color: #737373;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.45;
  letter-spacing: 0.2px;
}
.service__content {
  display: flex;
  justify-content: space-around;
}
.service__content-box {
  max-width: 333px;
}
.service__content-title {
  margin: 0px 0px 10px 0px;
  color: #252b42;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.45;
  letter-spacing: 0.2px;
}
.service__content-text {
  margin: 0px 0px 50px 0px;
  color: #737373;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
}
.service__content-fox {
  display: flex;
  align-items: start;
  margin: 0px 0px 30px 0px;
}
.service__content-img {
  margin: 0px 20px 0px 0px;
}
.service__content-fox-title {
  margin: 0px 0px 5px 0px;
  color: #252b42;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.1px;
}
.service__content-fox-text {
  margin: 0;
  color: #737373;
  font-weight: 600;
  line-height: 1.7;
  letter-spacing: 0.2px;
}
.clients {
  padding: 70px 0px 160px 0px;
  background: #fafafa;
}
.clients__brands {
  display: flex;
  align-items: center;
}
.clients__brands-img {
  margin: 0px 80px 0px 0px;
}
.newsletter {
  background: #252b42;
  padding: 67px 0px 20px 0px;
}
.newsletter__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: -110px 0 0 0;
  padding: 30px 40px;
  border-radius: 2px;
  background: #16697a;
}
.newsletter__title {
  max-width: 266px;
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.35;
  letter-spacing: 0.1px;
  color: #ffffff;
}
.newsletter__form {
  position: relative;
}
.newsletter__input {
  margin: 0;
  padding: 15px 235px 15px 20px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.2px;
  color: #737373;
}
.newsletter__btn {
  position: absolute;
  right: 1px;
  max-width: 450px;
  padding: 15px 23px;
  margin: 0;
  border: 1px solid #e6e6e6;
  border-radius: 0px 5px 5px 0px;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.2px;
  color: #ffffff;
  background: #ffa62b;
  cursor: pointer;
}
.touch {
  padding: 80px 0px 148px 0px;
  background: #f3f3f3;
}
.touch__header {
  max-width: 470px;
  margin: 0 auto;
  text-align: center;
}
.touch__title {
  margin: 0px 0px 10px 0px;
  color: #252b42;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: 0.2px;
}
.touch__text {
  margin: 0px 0px 80px 0px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.2px;
  color: #737373;
}
.touch__cards {
  display: flex;
  align-items: center;
  justify-content: center;
}
.touch__card {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px 54px;
  background: #fff;
}
.touch__card-center {
  padding: 80px 40px;
  background: #252b42;
  color: #fff;
}
.touch__card-center .touch__card-email {
  color: #fff;
}
.touch__card-center .touch__card-title {
  color: #fff;
}
.touch__card-center .touch__card-btn {
  color: #fff;
  border: 1px solid #fff;
}
.touch__card-img {
  margin: 0px 0px 15px 0px;
}
.touch__card-email {
  color: #252b42;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.2px;
}
.touch__card-title {
  margin: 15px 0px;
  color: #252b42;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.1px;
}
.touch__card-btn {
  margin: 0;
  padding: 10px 20px;
  color: #ffa62b;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.2px;
  border: 1px solid #ffa62b;
  border-radius: 5px;
  text-decoration: none;
}
.consulting {
  padding: 40px 0;
}
.consulting__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.consulting__title {
  margin: 0 0 10px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.35;
  letter-spacing: 0.1px;
  color: #252b42;
}
.consulting__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.2px;
  color: #737373;
}
.consulting__submit {
  padding: 15px 40px;
  font-weight: bold;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.2px;
  border-radius: 5px;
  background: #ffa62b;
  color: #ffffff;
  text-decoration: none;
}
.footer {
  padding: 50px 0;
  background: #16697a;
}
.footer__content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer__content-links {
  display: flex;
  justify-content: space-around;
}
.footer__content-company {
  margin: 0 94px 0 0;
}
.footer__content-header {
  margin: 0 0 20px 0;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.1px;
}
.footer__content-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.footer__content-item {
  margin: 0 0 10px 0;
}
.footer__content-link {
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.75;
  letter-spacing: 0.2px;
  text-decoration: none;
}
.footer__content-img {
  margin: 0 10px 0 0;
}
.copyright {
  padding: 25px 0;
}
.copyright__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.copyright__title {
  color: #737373;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.75;
  letter-spacing: 0.2px;
}
.copyright__social-link {
  margin: 0 20px 0 0;
}
@media (max-width: 1200px) {
  .container {
    width: 960px;
    margin: 0 auto;
  }
  .main__card {
    margin: 0px 15px -19px 0px;
    padding: 15px 30px;
  }
  .home {
    background-size: contain;
  }
  .clients__brands {
    flex-wrap: wrap;
  }
  .clients__brands-img {
    margin: 0 30px 0 0;
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 760px;
  }
  .home {
    background: none;
  }
  .choose {
    background: #f3f3f3;
  }
  .choose__cards {
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  .choose__card {
    max-width: 240px;
    margin: 0px 30px 20px 0px;
  }
  .advice__cards {
    flex-wrap: wrap;
    justify-content: center;
  }
  .advice__card {
    max-width: 230px;
    margin: 0px 30px 20px 0px;
  }
  .advice__card-img {
    max-width: 230px;
  }
  .service__content {
    display: flex;
    flex-wrap: wrap;
  }
  .service__video {
    margin: 0px 0px 52px 0px;
  }
  .touch__cards {
    flex-direction: column;
    align-items: center;
  }
  .touch__card {
    margin: 0 0 30px 0;
    padding: 50px 55px;
  }
  .clients__brands-img {
    margin: 20px 100px 0 0;
  }
  .consulting__content {
    flex-direction: column;
  }
  .consulting__header {
    margin: 0 0 20px;
    text-align: center;
  }
  .footer__content-links {
    flex-wrap: wrap;
  }
  .footer__content-company {
    margin: 0 52px 25px 0;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 560px;
  }
  .main__cards {
    display: flex;
    flex-direction: column;
  }
  .main__card {
    margin: 0px 0px 20px 0px;
  }
  .newsletter {
    background: #fff;
    padding: 0;
  }
  .newsletter__content {
    flex-direction: column;
    margin: 0;
  }
  .newsletter__title {
    margin: 0 0 30px 0;
  }
  .footer__content {
    flex-direction: column;
    align-items: start;
  }
  .footer__content-links {
    flex-direction: column;
    margin: 0 0 30px 0;
  }
  .footer__content-company {
    margin: 0 0 0 0;
  }
  .copyright__content {
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 95%;
  }
  .main__title {
    font-size: 40px;
    line-height: 1.5;
  }
  .newsletter__input {
    max-width: 320px;
    padding: 15px 122px 15px 20px;
  }
}
@media (max-width: 420px) {
  .container {
    max-width: 333px;
  }
  .header {
    padding: 23px 0px 0px 0px;
    margin-bottom: 261px;
  }
  .header__nav {
    position: relative;
  }
  .header__logo {
    margin: 0;
  }
  .nav__list {
    position: relative;
    left: 28px;
    top: 200px;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }
  .nav__item {
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 1.5;
  }
  .header__search {
    display: block;
    border: none;
    background: transparent;
    cursor: pointer;
  }
  .header__basket {
    display: block;
    border: none;
    background: transparent;
    cursor: pointer;
  }
  .main {
    padding: 80px 0px 205px 0px;
    background: url(../img/main-mobile-bg.jpg) no-repeat top;
    background-size: cover;
  }
  .main__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .main__text {
    padding: 0;
  }
  .main__title {
    margin-bottom: 40px;
  }
  .main__getquote {
    margin: 0px 0px 25px 0px;
  }
  .advice__text {
    margin: 0 auto 75px;
  }
  .service__header {
    max-width: 324px;
    margin: 0 auto;
  }

  .service__video {
    max-width: 333px;
  }
  .clients__bradns {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 153px;
    margin: 0 auto;
  }
  .clients__brands-img {
    margin: 0px 0px 15px 0px;
  }
}
